<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.lagner.dailynotifier"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="ru.lagner.dailynotifier.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- handle the date if it was changed manually -->
        <receiver android:name="ru.lagner.dailynotifier.receivers.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>            
        </receiver>
        <!-- increase total points if user was active -->
        <receiver 
            android:name="ru.lagner.dailynotifier.receivers.DailyAlarmReceiver"
            android:exported="false">"
            <intent-filter>  
                <action android:name="ru.lagner.dailynotifier.update"/>             
            </intent-filter>
        </receiver>
        <!-- notify if user have to launch the game to get the bonus -->
        <receiver
            android:name="ru.lagner.dailynotifier.receivers.DailyNotifyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ru.lagner.dailynotifier.notify" />
            </intent-filter>
            
        </receiver>
	</application>

</manifest>